.body {
    -fx-background-color: #282a3a;
}

.h1 {
    -fx-font-family: Montserrat;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
}

.h2 {
    -fx-font-family: Montserrat;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
}

.p {
    -fx-font-family: Montserrat;
    -fx-text-fill: #FAFAFA;
}

.startBtn {
    -fx-font-family: Montserrat;
    -fx-text-fill: #1181EF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;

    -fx-alignment: center;
    -fx-row-valignment: center;

    -fx-background-color: transparent;
}

.startBtn:hover {
    -fx-cursor: hand;
}

.exitBtn {
    -fx-font-family: Montserrat;
    -fx-text-fill: #E32418;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;

    -fx-alignment: center;
    -fx-row-valignment: center;

    -fx-background-color: #282a3a;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: #E32418;
    -fx-border-width: 2px;
}

.exitBtn:hover {
    -fx-text-fill: #FAFAFA;
    -fx-background-color: #E32418;
    -fx-cursor: hand;
}